<section data-section="emprendimiento-introduction" id="emprendimiento-introduction" class="p-2">
    <div class="content-emprendimiento row">
        <h3 class="text-center"> {{ 'EMPREDIMIENTOS' | uppercase }} </h3>
        <p>Hace algunos años comencé mi formación en el mundo del emprendimiento, esto ha cambiado totalmente mi manera de pensar y sobre todo mi estilo de vida.</p>
        <p>Pero voy por mucho más.</p>
        <p>Te contaré uno de mis proyectos el cual consiste en convertirme en un influencer reconocido, para compartir contenido viral y motivacional para miles de personas como tú.</p>
        <p>Quiero que sepas que si yo pude lograrlo ¡Tú también!</p>
        <p>¿En qué proyectos estoy trabajando actualmente?</p>
    </div>
</section>