<section data-section="contacto" id="contacto" class="row bg-dark m-1 mt-0 mb-3 p-2">
    <h5 class="col-12 text-center text-light align-items-center pt-3"> {{ 'Contacto' | uppercase }} </h5>
    <p class="text-light text-center">¿Quieres contarme tu experiencia?</p>
    <p class="text-light text-center">¿Te gustó mi historia?</p>
    <p class="text-light text-center">¿Te gustaría emprender conmigo?</p>
    <p class="text-light text-center">No dudes en escribirme a mis redes.</p>
    <p class="text-light text-center">Me pondré en contacto a la brevedad para conversar contigo.</p>

    <article class="col-sm-12 col-md-6 text-center mb-2">
        <a class="text-light" style="text-decoration: none;" target="_blank" href="https://wa.link/9wwl7e">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
    </article>

    <article class="col-sm-12 col-md-6 text-center mb-2">
        <a class="text-light" style="text-decoration: none;" target="_blank" href="https://t.me/YefersonS"> <i class="fab fa-telegram"></i> Telegram
        </a>
    </article>
</section>