<section data-section="about-me" class="p-2 mb-5">
    <h3 class="text-center"> {{ 'Sobre mí' | uppercase }} </h3>
    <p>Mi nombre es Yeferson Sánchez, soy un emprendedor profesional, también soy un apasionado por los viajes.</p>

    <p>Vivo en Venezuela, tengo {{ giveAge }} años de edad y actualmente estoy viviendo de mis inversiones. Así es ¡Vivo de mis ingresos pasivos y me dedico a cumplir mis metas!</p>

    <h3 class="text-center"><b>¿Cómo lo he logrado?</b></h3>
    <p>Como te conté me gustan los viajes, mi sueño es viajar y conocer el mundo.
    </p>

    <p>El viaje que te contaré hoy es completamente digital, nos sumergiremos en mi historia, que tuvo altibajos, pero que siempre fue y es emocionante y sorprendente.
    </p>

    <p>Este viaje también puede ser tuyo.</p>

    <h3 class="text-center"> <b>¿A qué me he dedicado estos años?</b> </h3>

    <p>La necesidad de superación personal me ha llevado a descubrir oportunidades al alcance de todos, pero que pocos pueden ven y aprovechar.</p>

    <p>En mi camino he tenido experiencias como:</p>

    <ul>
        <li>Creador de contenido</li>
        <li>Emprendedor</li>
        <li>Influencer</li>
        <li>Inversionista</li>
        <li>Motivador</li>
    </ul>

    <p>Este mundo me ha abierto muchas puertas y me ha permitido conocer gente maravillosa, gané experiencias, aprendizaje y algunos amigos en el camino.</p>

    <p>Por eso quise acercarme a ti, para contarte mi historia y con ella demostrarte que nada es imposible. </p>

    <h3 class="text-center"> <b>Porque si yo pude ¡Tú también!</b> </h3>
    <p>Te recomiendo enormemente que te subas a la ola del emprendimiento digital, y que emprendas para cumplir todos tus sueños.</p>
</section>