<section data-section="redes-sociales" class="row p-2" id="redes-sociales">
    <h4 class="col-12 text-center text-blue-rey"> {{ 'Mis redes sociales' | uppercase }} </h4>

    <p class="col-12">Las redes son el medio predilecto para conectarnos, compartir y emprender juntos.</p>
    <p>¡Sígueme para apoyarme y continuar motivando a miles de personas!</p>

    <div class="col-6 col-md-3">
        <a class="red-social d-table" target="_blank" href="https://youtube.com/channel/UCyjOh0hiFBKUXVWFWRwvRyg">
            <i style="color:red" class="fab fa-youtube"></i>
        </a>
    </div>

    <div class="col-6 col-md-3">
        <a class="red-social d-table" target="_blank" href="https://vm.tiktok.com/ZM875Juqs/">
            <i style="color: black;" class="fab fa-tiktok"></i>
        </a>
    </div>

    <div class="col-6 col-md-3">
        <a class="red-social d-table" target="_blank" href="https://www.instagram.com/yefersonsanchez.oficial">
            <i style="color: magenta;" class="fab fa-instagram"></i>
        </a>
    </div>

    <div class="col-6 col-md-3">
        <a class="red-social d-table" target="_blank" href="https://fb.me/YefersonSanchezOfficial">
            <i class="fab fa-facebook"></i>
        </a>
    </div>

    <div class="col-6 col-md-3">
        <a class="red-social d-table" target="_blank" href="https://twitter.com/Yeferson_S_?t=6S4fJNdhLRXYB27hxN-gCw&s=09">
            <i class="fab fa-twitter"></i>
        </a>
    </div>


    <div class="col-6 col-md-3">
        <a class="red-social d-table" target="_blank" href="https://www.linkedin.com/in/yefersonsanchezoficial">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>

    <h4 class="col-12 text-blue-rey text-center"> {{ 'Donaciones' | uppercase }} </h4>
    <p class="col-12">También agradecería mucho tu apoyo para seguir creciendo y ayudando a más emprendedores.
    </p>

    <div class="col-sm-6 col-md-3">
        <a class="red-social d-table" target="_blank" href="https://www.paypal.me/YefersonEmprendedor">
            <i style="color:blue;" class="fab fa-paypal"></i>
        </a>
    </div>
</section>