<section data-section="inicio" id="inicio" class="p-2 pt-2 mb-5 bg-secondary">
    <h1 class="mb-1 h3 text-white">{{ 'La vida es un desafío' | uppercase}}</h1>
    <h2 class="mb-1 h4 text-white">{{ '¡Atrévete a emprender con éxito!' | uppercase }}</h2>
    <h2 class="mb-1 h4 text-white">{{ 'YEFERSON SÁNCHEZ' | uppercase }} (2021).</h2>
    <article class="row">
        <div class="col col-sm-12 col-lg-8 pb-2">
            <p class="text-white">Mi propósito es motivarte, y contarte mi historia para que sepas que si estás pensando en emprender y todavía tienes dudas, es el momento de tomar coraje y hacerlo.
            </p>
            <p class="text-white">
                No te arrepentirás.
                <br> Además, si tienes interés en algunos de mis proyectos.
                <br> ¡Puedo asesorarte con gusto!
            </p>
            <h2 class="text-light"> <b>Estoy emocionado de poder conocerte a detalle</b> </h2>
            <a href="" data-link="contacto" class="btn btn-primary">Contacto</a>
        </div>
        <div class="col col-sm-12 col-lg-4 container-yeferson text-center">
            <img src="./assets/img/yeferson.jpg" class="Yeferson" alt="Soy Yeferson">
        </div>
    </article>
</section>